*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #2B2D42;
    color: #EDF2F4;
    text-align: left;
    margin: 48px !important;
    padding: 32px !important;
    background-image: url("images/bg.jpg");
}

#item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

h1{
    background: -webkit-linear-gradient( #EF233C, #EDF2F4, #8D99AE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 64px;
    font-weight: 700;
}

p{
    padding: 8px;
    font-weight: 500;
    font-size: 24px;
}

#form{
    margin: 16px;
    padding: 8px;

}

#birth-date{
    padding: 1px;
}

h3{
    font-size: 40px;
    font-weight: 600;
    color: #8D99AE;
}

span{
    background: -webkit-linear-gradient( #EF233C, #EDF2F4, #8D99AE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
